[alias]
    d = difftool
    s = status
    a = add .
    c = commit
    pr = pull --rebase
    mff = merge --ff-only
[pull]
    ff = only
[merge]
    ff = false
[core]
    editor = nvim
[diff]
    tool = nvimdiff
